* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--bg-primary);
  color: var(--text-primary);
  overflow: hidden;
}

.darkMode {
  background: var(--bg-dark);
  color: var(--text-dark);
}
